/* Base styles */
html {
	scroll-behavior: smooth;
}
* {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*================= Стили для header ================= */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(135deg, #999999, #ffffff);
}

.nav ul {
	display: flex;
	list-style: none;
}
.nav ul li {
	margin: 0 7px 0 7px;
}

.margin {
	padding-right: 70px;
}

.logo img {
	width: 40px;
	margin: 20px 10px 20px 10px;
}

.nav a {
	text-decoration: none;
	color: rgb(0, 0, 74);
	font-size: 16px;
	font-weight: 700;
	transition: color 0.3s, font-size 0.3s;
}

.nav a:hover {
	color: aqua;
	font-size: 18px;
}

/* ===================== ABOUT =============================== */

.about-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	background: linear-gradient(135deg, #999999, #ffffff);
}
.a-1 {
	margin-top: 150px;
	max-width: 700px;
}

@media (min-width: 1200px) {
	.a-1 {
		flex-grow: 3;
	}
	.a-2 {
		flex-grow: 1;
	}
}

.a-2 {
	margin-right: 15px;
	max-width: 500px;
}

.a-1 img {
	width: 500px;
}
.a-2 a {
	text-decoration: none;
	color: white;
}

.a-2 button {
	width: 200px;
	height: 50px;
	background-color: #10c9c3;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
}

.a-2 button:hover {
	background-color: rgb(119, 237, 231);
}

.a-2 p {
	font-size: 20px;
	color: rgb(84, 84, 84);
	margin-bottom: 20px;
}

.a-2 h1 {
	font-size: 35px;
	margin-bottom: 20px;
}

/* ===================== ABOUT US =============================== */

.about-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	background: linear-gradient(135deg, #d2d2d2, #ffffff);
}

.about-2 img {
	display: block;
	margin: auto;
	max-width: 300px;
	margin-top: 20px;
}
.about-2 p {
	padding: 10px;
}
.about-p-h {
	width: 700px;
}

@media (min-width: 1200px) {
	.about-p-h {
		width: 900px;
	}
}
.about-2 p {
	font-size: 20px;
	color: rgb(84, 84, 84);
	text-align: center;
}

.about-2 h1 {
	font-size: 35px;
	text-align: center;
}

/* Skills */
.skills {
	display: flex;
	align-items: center;
}

.text-skill {
	position: absolute;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	margin-left: 70px;
}

progress {
	width: 500px;
	height: 5px;
	margin-bottom: 20px;
	border: none;
}

@media (min-width: 1200px) {
	progress {
		width: 700px;
	}
}

.progress::-webkit-progress-bar {
	background-color: #c6c6c6;
}

.progress::-webkit-progress-value {
	background-color: #10c9c3;
	border-radius: 10px;
}

.text-skill p {
	font-size: 18px;
	font-weight: 700;
}

.text-skill h1 {
	font-size: 35px;
	font-weight: 700;
	text-align: left;
	margin-bottom: 20px;
}

.skills img {
	width: 100vw;
	max-height: 500px;
}

/* ===================== WORK =============================== */

.work-1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #10c9c3;
	height: 200px;
}

.work-1 img {
	width: 100px;
	filter: invert(100%) brightness(100%);
	padding-right: 20px;
}

.w-1,
.w-2,
.w-3,
.w-4 {
	display: flex;
	align-items: center;
}

.work-1 p {
	color: #ffffff;
	font-weight: 700;
	font-size: 16px;
	padding-top: 10px;
}

.work-1 h3 {
	color: #ffffff;
	font-weight: 700;
	font-size: 25px;
}

/* ===================== SUPPLY =============================== */
.supplys {
	display: flex;
	flex-wrap: wrap;
	gap: 0;
}

.sup img {
	width: 400px;
	height: 400px;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.sup:hover img {
	transform: scale(1.4);
	opacity: 0.6;
	cursor: pointer;
}

.sup {
	flex: 1;

	gap: 0;
}

.sup:nth-child(3n + 1) {
	background-color: #e6e5e3;
}

.sup:nth-child(3n + 2) {
	background-color: #eeeeee;
}

.sup:nth-child(3n) {
	background-color: #dcdcdc;
}

/* ===================== OUR WORK PROCESS =============================== */
.process-1 {
	display: flex;
	justify-content: center;
}

.process-1 img {
	width: 100vw;
	height: 100%;
}

.text-process {
	position: absolute;
	display: flex;
	flex-direction: column;
	text-align: center;
	row-gap: 20px;
	width: 700px;
}

.text-process p {
	font-size: 20px;
	color: rgb(84, 84, 84);
}

.text-process h1 {
	margin-top: 10px;
	font-size: 35px;
}

/* ===================== SERVICES =============================== */

.services {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	height: 700px;
	background-color: #eeeeee;
}

.services img {
	padding-bottom: 30px;
	width: 90px;
}

.servic {
	margin-top: 30px;
	width: 220px;
	padding: 20px;
	text-align: center;
}

@media (min-width: 1200px) {
	.servic {
		width: 400px;
	}
}

.servic p {
	padding-top: 20px;
	font-size: 18px;
}

/* ===================== TESTIMONIALS =============================== */

.carousel {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100vw;
	height: 500px;
	overflow: hidden;
	background-color: #10c9c3;
	padding: 20px;
	box-shadow: 0 4px 10px rgb(67, 9, 9);
}

.review {
	position: absolute;
	width: 900px;
	height: 100%;
	opacity: 0;
	transform: translateX(100%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: all 0.5s ease-in-out;
}

.review h3 {
	font-size: 30px;
	color: #ffffff;
}

.review p {
	padding-top: 20px;
	font-weight: 700;
	color: #ffffff;
}

.review.active {
	opacity: 1;
	transform: translateX(0);
}

@keyframes slide {
	0%,
	33.33% {
		opacity: 1;
		transform: translateX(0);
	}
	40%,
	100% {
		opacity: 0;
		transform: translateX(-100%);
	}
}

.review:nth-child(1) {
	animation: slide 20s linear infinite;
}

.review:nth-child(2) {
	animation: slide 20s linear infinite 7s;
}

.review:nth-child(3) {
	animation: slide 20s linear infinite 14s;
}

/* Companys recomendation */

.rec-companis {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 250px;
	/* background: linear-gradient(135deg, #c8c8c8, #ffffff); */
}

.rec-companis img {
	width: 150px;
	/* filter: invert(0%) brightness(90%) contrast(95%); */
}

/* ===================== CONTACT US =============================== */
.container-contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	background-color: #ededed;
}

.cont-us {
	text-align: center;
	width: 700px;
	font-size: 20px;
}

.enter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	row-gap: 20px;
	width: 900px;
}

.enter textarea {
	border: none;
	font-size: 24px;
	width: 800px;
	height: 70px;
	resize: none;
	outline: none;
	padding: 20px 15px;
}

.name-contact {
	display: flex;
	justify-content: space-between;
	width: 800px;
}

.name-contact input {
	padding-left: 15px;
	font-size: 24px;
	width: 350px;
	height: 70px;
	border: none;
	outline: none;
	margin-bottom: 30px;
}

@media (min-width: 1200px) {
	.enter textarea {
		width: 1000px;
	}
	.name-contact {
		width: 1000px;
	}
	.name-contact input {
		width: 450px;
	}
}
@media (max-width: 750px) {
	.enter textarea {
		width: 500px;
	}
	.name-contact {
		width: 500px;
	}
	.name-contact input {
		width: 220px;
	}
}

#message {
	height: 200px;
}

.cont-us {
	margin-top: 60px;
}
.cont-us p {
	padding-top: 25px;
	padding-bottom: 30px;
	color: rgb(84, 84, 84);
}

.enter button {
	padding: 10px 20px;
	font-size: 24px;
	border: none;
	width: 250px;
	height: 70px;
	background-color: #10c9c3;
	color: white;
	cursor: pointer;
	margin-bottom: 30px;
}

.enter button:hover {
	background-color: #45a049;
}

/* ===================== FOOTER =============================== */

.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 220px;
	background-color: #141414;
	color: #d2d2d2;
	font-size: 18px;
}

.footer p {
	padding-top: 10px;
}

.f-3,
.f-4 {
	flex-grow: 0;
}

@media (min-width: 1200px) {
	.f-2 {
		margin-right: 120px;
	}

	.f-5 {
		margin-left: 120px;
	}
}
